<header class="inicio">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
                <a class="navbar-brand" href="/">Ingresar Datos</a>
                <a class="navbar-brand" href="/viewdb">Visualisar DB</a>
    </nav>
</header>
<div id="IdErrorAlert"></div>