<div id="IdErrorAlert"></div>

<form action="/add" method="post" id="IdAddForm" >
      <div class="form-group margen">
          <label for="Artículo" for="formfile">Tipo de Guardado</label>
          <select name="Selec" id="Idselectipo" class="form-select" name = "selctipo"aria-label="Default select example">
            <option value="data-base">Data Base</option>
          </select>
      </div> 
      <div class="form-group">
        <label class="form-label mt-4">Nombre del Subtipo</label>
        <input type="text" class="form-control" id="idnombdato" name="nombre" placeholder="Ingresar el nombre">
      </div>
        <div class="form-group margen">
            <label for="Artículo" for="formfile">Los links</label>
            <textarea class="form-control txtbox" id="id_links" name="txtbox" type="text"  placeholder="Links"></textarea>
        </div> 
        <button type="button" onclick="SearhData()" class="btn btn-success gran">Ingresar Datos</button>
</form>
