
<div class="form-group margen">
    <label for="Artículo" for="formfile">Id con todos los datos</label>
    <select name="Selec" onchange="selecAct()" id="Idselec" class="form-select" aria-label="Default select example"></select>
</div> 
        {{!-- <div class="dataconteiner">
            <img src="https://historia.nationalgeographic.com.es/medio/2018/02/27/napoleon__1280x720.JPG" alt="" srcset="">
                <div class="subcontainer">
                    <h1><a target="_blank" href="${data[i].url}">$data[i].nombre</a></h1>
                    <p>$data[i].desc</p>           
                    <h5>Tipo: $data[i].tipo</h5>
                    <h6>Subtipo: $data[i].Subtipo</h6>
                </div>
        </div> --}}

<dir id="IdResult"></dir>
