
<div class="form-group margen">
    <label for="Artículo" for="formfile">Id con todos los datos</label>
    <select name="Selec" onchange="selecActPB()" id="IdselecPB" class="form-select" aria-label="Default select example"></select>
</div> 

<dir id="IdResult"></dir>


